build/
.venv/
test1/
test?/
testbuild/
venv/
Makefile.local.mk
config.local.mk
.env
*.d
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.bak
*.orig
*.rej
*.log
*.tmp
*.cache
*.coverage
*.egg
*.egg-info/
*.dist-info/
*.whl
.aws/*
lib/*_myprocessing.py
Makefile.myprocessing
.DS_Store
Pipfile.lock
*/__pycache__output.jsonl
output.jsonl


fine_tuned_xlm
fine_tuned_xlm_fold_1
fine_tuned_xlm_fold_2
fine_tuned_xlm_fold_3
fine_tuned_xlm_fold_4
.venv
cross-validation-cleaning