build/
.venv/
test1/
test?/
testbuild/
venv/
Makefile.local.mk
config.local.mk
.env
*.d
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.bak
*.orig
*.rej
*.log
*.tmp
*.cache
*.coverage
*.egg
*.egg-info/
*.dist-info/
*.whl
.aws/*
lib/*_myprocessing.py
Makefile.myprocessing
.DS_Store
Pipfile.lock
*/__pycache__output.jsonl
output.jsonl
models/
results/
artifacts/



all_ads_ids.jsonl
non-ads-stuff/non_ad_articles.jsonl
ovr_promo_ft/
non-ads-stuff/non_ads_articles_5000.jsonl
fine_tuned_xlm